:root {
  --background-color: #defdda; /* Define the background color variable */
  --secondary-text-grey: #505050; /* Define secondary text grey */
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color); /* Use the variable */
  font-family: Courier, monospace;
  font-size: 18px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  line-height: 1.7;
}

a {
  color: inherit;
}

a:hover {
  color: #108c00;
}

h1 {
  margin: 0px;
  flex-shrink: 0;
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  overflow-y: auto; /* Enable vertical scroll */
  padding-right: 10px; /* Optional: Adds some space for scrollbar */
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 40px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  gap: 0.25em;
}

li img {
  vertical-align: middle;
}

.index-icon {
  height: 36px;
}

@media only screen and (max-width: 600px) {
  li {
    font-size: 1em;
  }
  h2 {
    font-size: 1.2em;
  }
  .index-icon {
    height: 18px;
  }
  .site-intro {
    font-size: 16px;
  }
}

.content {
  width: 100%;
  max-width: 900px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.story-content {
  overflow-y: auto;
  text-align: justify;
}

.story-content.poetry {
  line-height: 2;
}

.footer {
  width: 100%;
  text-align: center;
  flex-shrink: 0;
  padding: 1em;
  font-size: 70%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the wrapper takes up at least 100% of the viewport height */
  align-items: center;
}

.info-text {
  font-size: 80%;
  margin-top: 40px;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.secondary-text {
  color: var(--secondary-text-grey);
}

.author {
  text-align: right;
}

.text-navigation {
  width: 100%;
  max-width: 850px;
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.prev-back-button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.prev-back-button .arrow {
  font-size: 1.5em;
}

.prev-back-button .title {
  text-decoration: underline;
}

.open-in-new-tab-icon {
  scale: 0.8;
  opacity: 0.8;
  margin-left: 5px;
}

.inverted-colors {
  background-color: var(--secondary-text-grey);
  color: var(--background-color);
}

.header {
  width: 100%;
  flex-shrink: 0;
  padding: 1em 5%;
}

.header-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  font-weight: bold;
}

.site-intro {
  margin-top: 1em;
}
