:root {
  --background-color: #defdda; /* Define the background color variable */
  --secondary-text-grey: #505050; /* Define secondary text grey */
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color); /* Use the variable */
  font-family: Courier, monospace;
  font-size: 18px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  line-height: 1.7;
}

a {
  color: inherit;
}

a:hover {
  color: #108c00;
}

h1 {
  margin: 20px 0;
  flex-shrink: 0;
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 200%;
}

ul {
  list-style-type: none;
  overflow-y: auto; /* Enable vertical scroll */
  padding-right: 10px; /* Optional: Adds some space for scrollbar */
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 40px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 200%;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.index-icon {
  height: 36px;
}

@media only screen and (max-width: 600px) {
  li {
    font-size: 100%;
  }
  h2 {
    font-size: 100%;
  }
  .index-icon {
    height: 18px;
  }
}

.content {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.story-content {
  overflow-y: auto;
  text-align: justify;
  max-width: 800px;
}

.footer {
  width: 100%;
  text-align: center;
  flex-shrink: 0;
  padding: 10px;
  font-size: 70%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the wrapper takes up at least 100% of the viewport height */
}

.info-text {
  font-size: 80%;
  margin-top: 40px;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.secondary-text {
  color: var(--secondary-text-grey);
}
