<h2>{{ include.title }}</h2>
<ul>
  {% assign items = include.items | sort: 'title' %} {% for item in items %}
  <li>
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% if item.malika %}
    <a
      href="{{ item.url }}#info-text"
      class="icon-link"
      title="Prämiert: {{ item.malika.name }}"
    >
      <img class="index-icon" src="/assets/award-icon.svg" alt="prämiert" />
    </a>
    {% endif %} {% if item.published %}
    <a
      href="{{ item.url }}#info-text"
      class="icon-link"
      title="Veröffentlicht: {{ item.published.name }}"
    >
      <img
        class="index-icon"
        src="/assets/published-icon.svg"
        alt="veröffentlicht"
      />
    </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
